@import "shadow";

.curved-up {
  background: url(images/bg-section-top-mobile-1.svg) no-repeat;
  background-size: cover;
  height: 7em;
  background-position: center;
  // border: 1px solid blue;
}

.curved-down {
  background: url(images/bg-section-bottom-mobile-1.svg) no-repeat;
  background-size: cover;
  height: 4em;
  background-position: center;
  // border: 1px solid blue;
}

.curved-top {
  background: url(images/bg-section-top-mobile-2.svg) no-repeat;
  background-size: cover;
  height: 6em;
  background-position: center;
  margin-top: 3em;
  // border: 1px solid blue;
}

.curved-bottom {
  background: url(images/bg-section-bottom-mobile-2.svg) no-repeat;
  background-size: cover;
  height: 7em;
  background-position: center;
  // border: 1px solid blue;
}

.curved-footer {
  background: url(images/bg-footer-top-mobile.svg) no-repeat;
  background-size: cover;
  height: 4em;
  background-position: center;
  // border: 1px solid blue;
}

@media screen and (min-width: 485px) {
  .curved-footer,
  .curved-up,
  .curved-down,
  .curved-bottom {
    height: 10em;
  }
  .curved-top {
    height: 12em;
  }
}
